h1{
color:black;
font-size:30px;
line-height:0.25;
letter-spacing:1px;
font-family: 'Abel', sans-serif;
}
header{
border-width:2px;
}
.mybody{
padding:10px 15px;
border-width:2px;
border-style:solid;
border-color:silver;
font-family: 'Abel', sans-serif;
}
.nave{
background-color:blue;
color:red;
}
.breadcrumb{
padding:10px 15px;
margin-bottom:30px;
list-style:none;
background-color:#f5f5f5;
border-radius:4px;
float:none;
}
.breadcrumb2{
padding:10px 15px;
margin-bottom:30px;
border-style:solid;
border-color:#f5f5f5;
list-style:none;
background-color:white;
border-radius:4px;
float:right;
.texto{
font-style:bold;
font-size:20px;
font-color:blue;
}
.breadcrumb3{
padding:10px 15px;
margin-bottom:30px;
border-style:solid;
border-color:black;
list-style:none;
background-color:white;
border-radius:4px;
float:right;
}
.text{
font-size:16px;
border-style:solid;
border-color:#f5f5f5;
}
.information{
padding.10px 15px;
margin-bottom:30px;
float:center;
}
